/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   outline: none;
   border: none;
 }
 
 /* html */
 html {
   font-size: 62.5%;
 }
 
 /* root variable */
 :root {
   --color-primary: #ff5722;
   --color-primary-light: #f57953;
   --color-secondary-light: #fff6f2;
   --color-secondary-dark: #ffa589;
   --bg-navbar: #f8f8f8;
   --main-black: #000;
   --main-white: #fff;
   --color-body: #333;
   --bgc-services: #f6f6f6;
   --avatar-sizes: 60px;
 }
 
 /* Body */
 body {
   color: var(--color-body);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.4rem;
   margin: 0 !important;
   padding: 0 !important;
 }
 
 /* container */
 .container {
   max-width: 1200px;
   margin: 0 auto !important;
 }
 /* Heading Tag */
 h1,
 h2,
 h2 {
   color: var(--main-black);
 }
 
 h1 {
   font-size: 2.5rem;
 }
 h2,
 h3 {
   font-size: 2.2rem;
 }
 
 /* Media fonts_size */
 
 @media screen and (min-width: 1024px) {
   body {
     font-size: 1.8rem;
   }
   h1 {
     font-size: 5rem;
     font-weight: bold;
   }
   h2,
   h3 {
     font-size: 3.5rem;
   }
 }
 
 /* Button */
 .btn {
   font-size: 1.4rem;
   padding: 1.2rem 2.4rem;
   border-radius: 8px;
   cursor: pointer;
   text-align: center;
   white-space: nowrap;
 }


 /* Button */
.btn {
   font-size: 1.4rem;
   padding: 1.2rem 2.4rem;
   border-radius: 8px;
   cursor: pointer;
   text-align: center;
   white-space: nowrap;
 }
 
 .btn--primary {
   background-color: var(--color-primary);
   color: var(--main-white);
 }
 .btn--secondary {
   background-color: var(--color-secondary-dark);
   color: var(--main-white);
 }
 
 .btn--block {
   width: 100%;
   font-size: 1.6rem;
 }
 
 /* media buttons */
 @media screen and (min-width: 1024px) {
   .btn {
     font-size: 1.6rem;
   }
   .btn--block {
     font-size: 2rem;
   }
 }
 
 /* Reset code tags */
 p {
   color: var(--color-body);
 }
 
 /* Badge */
 
 .badge {
   padding: 0.7rem 1.4rem;
   border-radius: 25px;
   font-weight: bold;
   display: inline-block;
 }
 
 .badge--primary {
   background-color: var(--color-primary);
   color: var(--main-white);
   margin-bottom: 0.8rem;
 }
 
 .badge--secondary {
   background-color: var(--main-white);
   border: 5px solid var(--color-primary);
   color: var(--color-primary);
 }
 
 @media screen and (min-width: 1024px) {
   .badge {
     font-size: 1.4rem;
   }
 }
 
 /* services */
 .items__services {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   background-color: var(--bgc-services);
   color: 2rem;
   margin: 0 3rem;
   column-gap: 2rem;
 }
 
 .services > h2 {
   margin-bottom: 3rem;
   margin-right: 2rem;
 }
 
 .services .item__services {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.267);
   margin-bottom: 5rem;
 }
 
 .services .item__services .heading__service {
   width: 100%;
   background-color: var(--color-primary-light);
   padding: 3rem;
   display: flex;
   flex-direction: column;
 }
 
 .item__services .title__service {
   display: flex;
   justify-content: space-between;
   width: 100%;
 }
 
 .services .item__services.light .heading__service {
   background-color: var(--color-secondary-dark);
 }
 
 .services .item__services:hover {
   animation: primaryServices 1s linear infinite;
 }
 
 .services .item__services.light:hover {
   animation: secondary 1s linear infinite;
 }
 
 .item__services .title__service:nth-child(1) {
   color: var(--main-white);
   font-size: 1.8rem;
 }
 
 .item__services .price__service {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: var(--main-white);
   margin-bottom: 1.4rem;
 }
 .price__service p {
   color: var(--main-white);
   font-size: 2.3rem;
 }
 .price__service span {
   margin-right: 0.5rem;
   font-size: 1.6rem;
 }
 
 .heading__service > p {
   color: var(--main-white);
   font-weight: bold;
   font-size: 1.8rem;
 }
 
 .services .body__service {
   padding: 4rem 3rem;
   background-color: var(--color-secondary-light);
   width: 100%;
 }
 
 .body__service .desc__service {
   font-weight: bold;
   margin-bottom: 12rem;
 }
 
 .desc__service li {
   margin-bottom: 3rem;
 }
 
 .desc__service li span {
   color: var(--color-body);
   margin-right: 1rem;
   font-size: 1.8rem;
 }
 
 .desc__service li i {
   color: green;
   font-size: 3rem;
 }
 
 @keyframes primaryServices {
   0% {
     transform: rotate(-5deg);
   }
   25% {
     transform: rotate(0deg);
   }
   50% {
     transform: rotate(5deg);
   }
   75% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(-5deg);
   }
 }
 
 @keyframes secondary {
   from {
     transform: scale(1.1);
   }
   to {
     transform: scale(1);
   }
 }
 
 @media screen and (min-width: 1024px) {
   .items__services {
     grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
     column-gap: 8rem;
   }
   .price__service p {
     font-size: 3rem;
   }
   .price__service span {
     margin-right: 0.9rem;
     font-size: 1.8rem;
   }
   .heading__service > p {
     font-size: 1.4rem;
   }
   .item__services .title__service:nth-child(1) {
     font-size: 2.2rem;
   }
 }

 /* business */
.business {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
   padding: 0 1.5rem;
   column-gap: 2rem;
 }
 .business .image {
   margin-bottom: 1.5rem;
   display: flex;
   justify-content: center;
 }
 
 .business img {
   width: 80%;
   object-fit: cover;
 }
 
 .business .desc__business {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   height: 100%;
 }
 
 .business .desc__business h2 {
   margin-bottom: 1.5rem;
 }
 
 .business .desc__business p {
   margin-bottom: 2.5rem;
   line-height: 2.5rem;
 }
 
 @media screen and (min-width: 1024px) {
   .business .desc__business h2 {
     font-size: 3rem;
   }
   .business .image {
     order: 2;
     display: flex;
     justify-content: center;
   }
 
   .business img {
     width: 100%;
     object-fit: cover;
   }
   .business .desc__business {
     justify-content: space-evenly;
   }
   .business .desc__business button {
     padding: 1.5rem 2.5rem;
   }
 }


 /* Contact us */
.contact-us {
   display: grid;
 
   column-gap: 4rem;
 }
 
 .contact-us__map {
   display: none;
 }
 .contact-us__map img {
   width: 100%;
 }
 .contact-us .contact-us__address {
   order: 2;
   width: 90%;
   display: flex;
   flex-direction: column;
 }
 .contact-us .icon-holder {
   display: flex;
   width: 100%;
   justify-content: flex-end;
   margin-bottom: 1.5rem;
 }
 .contact-us .icon-holder i {
   font-size: 2rem;
   margin-right: 0.8rem;
   color: var(--color-primary);
 }
 
 /* icons */
 .contact-us__icons {
   order: 1;
   display: flex;
   justify-content: center;
   padding: 2rem 2rem 0 0;
   justify-content: center;
   width: 100%;
   height: 5rem;
   margin-bottom: 4rem;
 }
 
 .icon {
   color: var(--color-primary);
   font-size: 4rem;
 }
 
 .icon-container {
   width: 64px;
   height: 64px;
   background-color: #f6f6f6;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   margin: 0 1rem;
 }
 
 /* form */
 .contact-us__form {
   order: 3;
   width: 100%;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
   margin: 1.5rem 0;
 }
 .contact-us__form h3 {
   margin-bottom: 1.5rem;
 }
 
 .contact-us__form form {
   display: flex;
   flex-direction: column;
   width: 350px;
   justify-content: center;
   align-items: flex-start;
 }
 
 .contact-us__form form input,
 .contact-us__form form textarea {
   background-color: #ccc;
   margin-bottom: 2.4rem;
   padding: 1.5rem 1rem;
   border-radius: 25px;
   width: 100%;
   font-size: 1.8rem;
   transition: all 0.5s ease-in;
 }
 .contact-us__form form input::placeholder,
 .contact-us__form form textarea::placeholder {
   font-size: 1.6rem;
 }
 .contact-us__form form input:focus,
 .contact-us__form form textarea:focus {
   border: 1px solid var(--color-primary);
 }
 .contact-us__form form textarea {
   min-width: 100%;
   max-width: 100%;
   min-height: 200px;
   max-height: 300px;
   border-radius: 15px;
 }
 
 @media screen and (min-width: 1024px) {
   .contact-us {
     grid-template-areas:
       "address form"
       "map form"
       "icons form";
     grid-template-columns: 70fr 30fr;
   }
   .contact-us__address {
     grid-area: address;
     flex-direction: row !important;
     height: 10rem;
   }
   .contact-us__map {
     grid-area: map;
     display: flex;
     width: 100%;
     height: 100%;
     background-color: #333;
   }
 
   .contact-us__icons {
     grid-area: icons;
     justify-content: flex-end !important;
     align-items: center;
   }
   .contact-us__form {
     grid-area: form;
   }
   .contact-us .icon-holder {
     flex-direction: column;
     align-items: center;
   }
   .contact-us .icon-holder i {
     margin-bottom: 0.5rem;
     order: 1;
     text-align: center;
   }
   .contact-us .icon-holder p {
     order: 2;
   }
 }


 /* footer */
.main-footer {
   background-color: var(--main-black);
   min-height: 20rem;
   display: flex;
   align-items: center;
   width: 100%;
 }
 
 .main-footer .footer {
   display: flex;
   flex-direction: column;
   padding: 2rem 0;
 }
 
 .footer .footer__item {
   display: flex;
   flex-direction: column;
   margin-bottom: 2.5rem;
 }
 
 .footer__item.logo {
   display: flex;
   flex-direction: column;
 }
 
 .footer__item.logo .footer-logo {
   height: 3rem;
   margin-bottom: 1rem;
 }
 .footer--description-desctb {
   display: none;
 }
 
 .footer__item a {
   text-decoration: none;
   font-size: 1.4rem;
   color: var(--main-white);
   margin-bottom: 0.5rem;
   display: block;
   transition: all 0.3s ease-in-out;
 }
 
 .footer__item a:hover {
   color: var(--color-primary);
 }
 
 .footer__item h6 {
   font-size: 1.9rem;
   color: var(--main-white);
   font-weight: bold;
   margin-bottom: 1.2rem;
 }
 
 .footer__item.enemad {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 
 .footer__trust-logo {
   background-color: #fff;
   border-radius: 15px;
   padding: 0.8rem 0.4rem;
   max-width: 100px;
   margin-left: 0.8rem;
 }
 .footer__trust-logo img {
   width: 100%;
 }
 
 @media screen and (min-width: 768px) {
   .main-footer .footer {
     flex-direction: row;
     flex-wrap: wrap;
     padding: 1rem 2rem;
   }
   .footer .footer__item {
     margin-bottom: 0;
     margin-left: 1rem;
   }
 
   .footer__item.logo {
     margin-top: 0.5rem;
   }
   .footer__item.logo h3 {
     display: none;
   }
   .footer--description-desctb {
     display: inline;
     width: 14.5rem;
     font-size: 1.2rem;
     color: #ccc;
     margin-bottom: 1.5rem;
   }
 }